fastapi
uvicorn
pydantic
langchain
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
PyMuPDF
python-dotenv
langchain-text-splitters
langchain-community
python-multipart
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
beautifulsoup4
requests
python-docx
lxml